div.MainLayout {
    padding-left: 20px;
    padding-right: 20px;
}

div.MainContent {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

div.ui.card.Emoji {
    padding-top: 15px;
    padding-bottom: 15px;
}

div.ui.card.Emoji > div.content > div.header {
    font-size: 40px !important;
    text-align: center;
}